*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ IDEA
.idea/

# Gradle
.gradle/
build/
*/build/

# Signing files
*.jks
*.keystore

# Built APKs/AABs
*.apk
*.aab
